@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.appear {
  border: pink 4px solid;
}
html, body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

#container {
   margin: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#set-data, #get-data {
  background: #fff;
  outline: none;
}

#set-data, #get-data, input {
  border: 0.5px solid grey;
}

#buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#items-collector {
  display: flex;
  flex-direction: column;
}